/data/datasets/
/src/experiments/results/
/.venv/
/.idea/
/src/experiments/plots/results/

data/__pycache__/

src/experiments/results2/
/src/experiments/results3/

src/experiments/__pycache__/

src/experiments/results1/

src/experiments/plots/__pycache__/

src/experiments/utils/__pycache__/

algorithms/src/__pycache__/

data/raw_data/data/
